
 
    
      
        <div class="modal-header">						
          <h4 class="modal-title">Edit User</h4>
          <button type="button" class="close" (click)="dismissModal()" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" (input)="username = $event.target.value;" value={{usertobeedited.username}} required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" (input)="password = $event.target.value;"  required>
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <textarea class="form-control"(input)="name = $event.target.value;" value={{usertobeedited.name}} required></textarea>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" (input)="email = $event.target.value;" value={{usertobeedited.email}} required>
          </div>
          <div class="form-group">
            <label for="usertype" >Usertype:</label>
  
            <select name="usertype"  id= "usertype" (input)="usertype = $event.target.value;" class="form-control" >
              <option></option>
              <option value="auditor">Auditor</option>
              <option value="department">Department</option>
              <option value="admin">Admin</option>
              
            </select>
          </div>		
          <div class="form-group">
            <label for="department" >Department:</label>
  
            <select name="department" id="department" (input)="department = $event.target.value;" class="form-control">
              <option></option>
              <option value="CEA">CEA</option>
              <option value="COT">COT</option>
              <option value="CITC">CITC</option>
              <option value="CSM">CSM</option>
              <option value="CSTE">CSTE</option>
              
            </select>
          </div>		
          
          <div *ngIf="lqkwelqwke"></div>
        </div>
        
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="dismissModal()"  value="Cancel">
          <input type="submit" class="btn btn-success" (click)="edit_account()" value="Update">
        </div>
      
   
 
