

  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <navbar class="navbar navbar-expand-xl navbar-light bg-light">
          <a routerLink='/department' class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start" style="margin-left: 50px;">
            <div class="navbar-nav">
              <a routerLink='/department' class="nav-item nav-link active">Home</a>
              <a routerLink='/department/schedule' class="nav-item nav-link">Schedules</a>
              <div class="nav-item dropdown">
                <a (click)="_popOver($event)" class="nav-link dropdown-toggle"><button>Departments</button></a>
               
              </div>
              <a routerLink='/department/documents' class="nav-item nav-link">Documents</a>
              <a routerLink='/department/audit' class="nav-item nav-link">Audit</a>
            </div>
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search">
                
              </div>
            </form>
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="nav-item dropdown">
                <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><img src="./assets/images/cdustp.jpg" class="avatar" alt="Avatar"> Clint Cardenas</button></a>
                
              </div>
            </div>
          </div>
        </navbar>
     

<ion-content>

 

  
 
  

  
  <div class="w3-container">
    <ion-grid>
      <ion-row>
        <ion-col size="1.5">
          <div class="w3-container" style="margin-top: 10px; ">
            
            <button (click)="newclicked()" class="newbut"><i class="fas fa-plus"></i> New</button>
            <div *ngIf="new">
            <button  (click)="add_folder()" style="display: block; margin-top: 10px;" class="newbut1"><i class="fas fa-plus" ></i> Folder</button>
            <button   style="display: block; margin-top: 10px;" class="newbut1"><i class="fas fa-plus"></i> File Upload</button>
          </div>

          <div class="directory">
            <ul>
              <li><i *ngIf="!dirdoc" (click)="docdir()" class="fas fa-caret-right fa-2x" style="vertical-align: middle; padding: 5px;"></i>
                <i *ngIf="dirdoc" (click)="docdir()" class="fas fa-caret-down  fa-2x" style="vertical-align: middle; padding: 5px;"></i>
                
                
                
                <button (click)="doc()"><i class="far  fa-folder fa-3x" style="vertical-align: middle;" ></i><strong style="font-size: 15px; vertical-align: middle; padding: 5px;">Documents</strong></button></li>
            
              <li style="color: #555;" *ngFor="let data of departments">
                <!-- <button><i class="far fa-folder fa-5x"></i>{{data.department_name}}</button> -->
                <div *ngIf="dirdoc">
                <i (click)="sidedir(data.folder_id)" class="fas fa-caret-right fa-2x" style="vertical-align: middle; padding: 5px;"></i>
                <button lines="none"  (click)="subfolder(data.foldername)">
                
                  <!-- (contextmenu)="onRightClick($event, data.department_name)" -->
                  
                  <i style="vertical-align: middle;" class="fas fa-folder fa-2x"></i>
                  <strong style="font-size: 15px;  vertical-align: middle;">&nbsp;&nbsp;{{data.foldername}}</strong>
                  
                    
                
                </button>
              </div>
              




            </ul>






          </div>









          </div>


         </ion-col>
  
  
  
  
 
  
   <ion-col size="10.5">
  <div class="w3-center">
    <div class="w3-container1" style="overflow-x:auto; text-align: left;">
     
      <div  class="direction" *ngIf="chosen"  >
        <div>
        <!-- <button (click)="back()">back</button> -->
        </div>
        
        <div  style="display: inline;" ><button class="hove" (click)="doc()">Documents</button></div>
        <div  style="display: inline;" ><i class="fas fa-chevron-right" style="padding-left: 10px;padding-right: 10px;color:#a0a5b1;"></i><button class="hove" (click)="direct()">{{chosen}}</button></div>
      
     
        <div  *ngFor="let data of folder_layer" style="display: inline;">
          <i class="fas fa-chevron-right"  style="padding-left: 10px;padding-right: 10px;color:#a0a5b1;"></i><button class="hove" (click)="direct(data)">{{data}}</button>

        </div>
        <!-- <h1><button (click)="back()">Documents</button> > {{chosen}}</h1> -->
        <!-- <div>
        <button (click)="add_folder()" class="button button2">Add Folder</button>
        <button (click)="upload()" class="button button3">Upload Document <i class="fas fa-file-upload"></i></button>
      </div> -->
      </div>
      <ul class="">
   
        
        <div class="direction" *ngIf="chosen == null" style="font-size: 20px;">Documents</div>
        <div><h5>Folders</h5></div>
        <li style="color: #555;" *ngFor="let data of departments" class="dep">
          <!-- <button><i class="far fa-folder fa-5x"></i>{{data.department_name}}</button> -->

     
          <button lines="none" class="contents" *ngIf="chosen == null" (click)="once1(data.foldername)"  style="margin-top: 35px;"  >
          
            <!-- (contextmenu)="onRightClick($event, data.department_name)" -->
            
            <i style="vertical-align: middle;" class="fas fa-folder fa-2x"></i>
              <strong style="font-size: 15px;  vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;{{data.foldername}}</strong>
              
          
          </button>
       
        
        
          
        </li>
      
        
      </ul>
      
      <div *ngIf="chosen">
        <li *ngFor="let data of folders" class="dep" >
        <button lines="none" class="contents" (click)="once(data)"  >
            
         
         
          <i style="vertical-align: middle;" class="fas fa-folder fa-2x"></i>
            <strong style="font-size: 15px; vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;{{data}}</strong>
         
          
        </button>
        </li>
      </div>
 
    </div>  
  </div>  
</ion-col>

</ion-row>
  <!-- <div class="doc">
    <h1>Document Directory</h1>
    <div>
    <div class="qweqwe" style="float:left;">
      <label style="display: block;" for="fname">Keywords</label>
      
      <input class="keyword" style="border: 1px solid #ccc;box-sizing: border-box; font-size: 16px;font-family:Arial, FontAwesome" type="text" id="fname" name="firstname"  placeholder="   &#xF002;" >
    </div>
   
    <div class="qweqwe" style="float:left">
      <label style="display: block;" for="fname">Type</label>
      <select class="filtercss" id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>
    <div class="qweqwe" style="float:left">
      <label style="display: block;" for="fname">Department</label>
      <select class="filtercss" id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>
    <div class="qweqwe" style="float:left">
      <label style="display: block;" for="fname">Date Range</label>
      <select class="filtercss" id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
      
    </div>

    <div class="qweqwe" style="float:left">
      <button class="filter">Filter <i class="fas fa-search"></i></button>
     </div>
    </div>
    
  </div>   -->
</ion-grid>
  </div>
 
  
  <hr >
 
  

  

       
  <!-- <div class="w3-center">
    <div class="w3-container1" style="overflow-x:auto;">
      
    
      <table class="w3-table w3-bordered">
        <tr>
          <th class="tname">Name</th>
          <th>Type</th>
          <th>Department</th>
          <th>Last Modified</th>
          <th><i class="fas fa-comment-alt"></i></th>
          <th><i class="fas fa-eye"></i></th>
        </tr>
        <tr *ngFor="let data of datauser">
          <td>{{data.filename}}</td>
          <td>{{data.file_type}}</td>
          <td></td>
          <td>{{data.date_uploaded}}</td>
          <td></td>
          <td></td>
          <td class="dot1"><button (click)="doc_popover(data.doc_id,$event )"><i class="fas fa-ellipsis-v"></i></button></td>
        </tr>
       
      </table>
    </div>  
  
  
  

 
    
  

  </div> -->
 
  
  
 
  
</ion-content>