









<ion-header>
  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <navbar class="navbar navbar-expand-xl navbar-light bg-light">
          <a routerLink='/admin' class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
              <a routerLink='/admin' class="nav-item nav-link active">Home</a>
              <a routerLink='/schedules' class="nav-item nav-link">Schedules</a>
              <div class="nav-item dropdown">
                <a (click)="_popOver($event)" class="nav-link dropdown-toggle"><button>Departments</button></a>
               
              </div>
              <a routerLink='/documents' class="nav-item nav-link">Documents</a>
              <a routerLink='/manage-users' class="nav-item nav-link">Manage Users</a>
            </div>
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search">
                
              </div>
            </form>
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="nav-item dropdown">
                <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><img src="./assets/images/cdustp.jpg" class="avatar" alt="Avatar"> Clint Cardenas</button></a>
                
              </div>
            </div>
          </div>
        </navbar>
     
</ion-header>
<ion-content>

 
  
  
 
  

  
  <div class="w3-container">
  
  
  
  
  
 
  <div class="w3-center">
    <div class="zxczxczxc"> 
    <div class="qwer">
      <h6>Home > Documents</h6>
     </div>

     <div class="hr">
       <hr>
      </div>
 

     <div class="buttons">
     <button class="button button2">New Document +</button>
     <input [(ngModel)]="fileinput" (change)="selectedFile($event)" type="file" name="file" size="4" style="background-color:#fff; margin-left: 50px; margin-top: 10px; margin-bottom: 10px;" required="required" />
     <button (click)="onClick()" class="button button3">Upload Document <i class="fas fa-file-upload"></i></button>
   
   </div> 
  </div>

  <div class="doc">
    <h1>Document Directory</h1>
  </div>  
  
  </div>
 
  
  <hr>
 
  

  

       
  <div class="w3-center">
    <h2>Containers</h2>
    <p>Use containers to create headers, sections and footers.</p>
  </div>   
  
  

 
    
  

  </div>
 
  
  
 
  
</ion-content>