<head>
	<title>Login V19</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
</head>

<body id="background">

	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/images/background-home.png')">
			
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50" style="background:rgba(0, 0, 0, 0.5); ">
				
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33" style="color: white;">
						Accreditation Document Management System
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" style="background:rgba(0, 0, 0, 0); color: white;" >
						<input class="input100" type="text" name="email" placeholder="Username" [(ngModel)]="username" style="color: white;" >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required" style="background:rgba(0, 0, 0, 0); " >
						<input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="password" style="color: white;">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
				

					<div class="container-login100-form-btn m-t-20">
						<button  (click)="login_acc()" class="login100-form-btn" >
							Sign in
						</button>
					</div>

					

					
				</form>
			</div>
		</div>
	</div>
	

	


</body>