<button (click)="logout()" class="dropdown-item">
    <i class="fa fa-user-o" style="vertical-align: middle;"></i> Profile
</button>
<button (click)="logout()" class="dropdown-item">
    <i class="fa fa-calendar-o" style="vertical-align: middle;"></i> Calendar
</button>
<button (click)="logout()" class="dropdown-item">
    <i class="fa fa-sliders" style="vertical-align: middle;"></i> Settings
</button>


<div class="dropdown-divider"></div>

<button (click)="logout()" class="dropdown-item">
    <i class="material-icons" style="vertical-align: middle;">&#xE8AC;</i> Logout
</button>