
  <title>Auditor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
  <nav class="navbar navbar-expand-xl navbar-light bg-light" >
    <a routerLink='/admin' class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <div class="navbar-nav">
        <a routerLink='/admin' class="nav-item nav-link active">Audit Plan</a>
        <!-- <a routerLink='/admin/schedules' class="nav-item nav-link">Schedules</a> -->
       
        <a routerLink='/admin/documents' class="nav-item nav-link">Documents</a>
        <a routerLink='/admin/manage-users' class="nav-item nav-link">Manage Users</a>
      </div>
     
      <div class="navbar-nav ml-auto">
        
        
        <div class="nav-item dropdown">                                                                                                                                       
          <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><i class="fas fa-user-alt" style="vertical-align: middle;font-size: 25px;"></i>  {{account_info.name}}</button></a>
            
        </div>
      </div>
    </div>
  </nav>
  



<ion-content>
  <div class="w3-container" style="padding-left: 170px; padding-right: 150px;">
    <div class="w3-center">
    

      <h4>AUDIT PLAN</h4>
<div *ngFor="let auditplan of auditplan">

     <div *ngIf="auditplan.done == 0" style="border: solid black; margin: 10px; padding: 10px; border-width: 1px; border-radius: 5px;">
       
  
 
<div style="border: solid black; border-width: 1px; margin: 10px;">
 <table class="table table-striped table-hover" id="myTable" style="font-size: 15px;">
   <thead>
     <tr  style="text-align: center;">
       
       <th style="width: auto;">Start Time</th>
       <th style="width: auto;" >End Time</th>
       
       <th style="width: auto;">Process/Area</th>
       <th style="width: auto;">Auditor</th>
      
   
       <th  style="width: auto;">Auditee</th>
     
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let data1 of sortData">
       <ng-container *ngIf="data1.auditplan == auditplan.audit_plan_id">
      
       <td>{{data1.startTime.slice(0,18)}} {{data1.startTime.slice(-2)}}</td>
       <td>{{data1.endTime.slice(0,18)}} {{data1.endTime.slice(-2)}}</td>
      
       <td>{{data1.dpm_title}}</td>
       <td>{{data1.name}}</td>
       
 
       <td>{{data1.usertype_title}}</td>
       
     </ng-container>
     </tr>
   
    
     
     
   </tbody>
 </table>

</div>


     </div>

     

   </div>
  
 
 
 
 </div>  
 </div>  




</ion-content>


