
    <title>ADMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <ion-content>
          <nav class="navbar navbar-expand-xl navbar-light bg-light" >
            <a routerLink='/admin' class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
              <div class="navbar-nav">
                <a routerLink='/admin' class="nav-item nav-link active">Audit Plan</a>
                <!-- <a routerLink='/admin/schedules' class="nav-item nav-link">Schedules</a> -->
               
                <a routerLink='/admin/documents' class="nav-item nav-link">Documents</a>
                <a routerLink='/admin/manage-users' class="nav-item nav-link">Manage Users</a>
              </div>
             
              <div class="navbar-nav ml-auto">
                
                
                <div class="nav-item dropdown">                                                                                                                                       
                  <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><i class="fas fa-user-alt" style="vertical-align: middle;font-size: 25px;"></i>  {{account_info.name}}</button></a>
                    
                </div>
              </div>
            </div>
          </nav>
    




  <div class="w3-container" style="padding-left: 170px; padding-right: 150px;">
       <div class="w3-center"  >
        <!-- <button (click)="alert1()" style="display: block; margin-top: 10px; text-align: center;" class="newbut1 btn-muted">Generate Audit Plan</button> -->
   

<div *ngFor="let auditplan of auditplan" style="margin-top: 100px;">
        <div *ngIf="auditplan.done == 0" style="border: solid black; margin: 10px; padding: 10px; border-width: 1px; border-radius: 5px; background: white;">
          <div >
            <button (click)="markalert(auditplan.audit_plan_id)" style="display: inline; margin: 10px; text-align: center; float: right; border-radius: 0px !important; height: 50px;" class="newbut1 btn-info">Mark as done</button>
          </div>
          <div style="width: 500px; margin: auto;">
              
            
        <ion-item>
          <div *ngIf="startTime == null"><h5><i class="far fa-clock"></i> Select Start Time </h5></div>
        <ion-datetime style="margin: auto;" displayFormat = "MMM DD YYYY hh:mm A" [(ngModel)]="startTime" (ionChange)="showdate()" [min]="minDate" [max]="maxDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <div *ngIf="endTime == null"><h5><i class="far fa-clock"></i> Select End Time </h5></div>
      <ion-datetime style="margin: auto;" displayFormat = "MMM DD YYYY hh:mm A" [(ngModel)]="endTime" (ionChange)="showdate()" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item>


    <ion-item>
      <label *ngIf="selected_dpm == null" for="auditee"><h4>DPM</h4></label>
        <ionic-selectable
        [(ngModel)]= "selected_dpm"
        [items]="dpm"
        [isMultiple]="true"
        itemValueField="dpm_id"
        itemTextField="dpm_title"
        [canSearch]="true">
       
      
    
    
       
        </ionic-selectable>
    
      </ion-item>
      
    <label for="auditor"><h4>Auditor:</h4></label>
    <select style="font-size: 18px;" name="auditor" id="auditor" [(ngModel)]="auditor" class="form-control">
      <option></option>
      <option *ngFor="let data of auditors" value={{data.user_id}}>{{data.name}}</option>
     
      
    </select>
    
  
    <label for="auditee"><h4>Auditee:</h4></label>
    <select style="font-size: 18px;" name="auditee" id="auditee" [(ngModel)]="auditeechoice"   class="form-control">
      <option></option>
      <option *ngFor="let data of auditee" value={{data.usertype_id}}>{{data.usertype_title}}</option>
     
      
    </select>
    <div class="form-group">
      <label for="link"><h4>Meeting Link:</h4></label>
      <input type="text" class="form-control" [(ngModel)]="link" required>
    </div>
    <div >
      <button (click)="submit(auditplan.audit_plan_id)" style="display: inline; margin-top: 10px; text-align: center; " class="newbut1 btn-info">Submit</button>
    </div>
    <div >
      <button (click)="delete()" style="display: inline; margin-top: 10px; text-align: center; " class="newbut1 btn-danger">Delete</button>
    </div>
    
    </div>
    
<div style="border: solid black; border-width: 1px; margin: 10px;">
    <table class="table table-hover" id="myTable" style="font-size: 15px;">
      <thead>
        <tr  style="text-align: center;">
          <th>
            <ion-checkbox
            [(ngModel)]="masterCheck"
            [indeterminate]="isIndeterminate"
              (click)="checkMaster($event)"></ion-checkbox>
          </th>
          <th style="width: auto;">Start Time</th>
          <th style="width: auto;" >End Time</th>
          
          <th style="width: auto;">Process/Area</th>
          <th style="width: auto;">Auditor</th>
         
      
          <th  style="width: auto;">Auditee</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data1 of sortData">
          <ng-container *ngIf="data1.auditplan == auditplan.audit_plan_id">
          <td>
            <ion-checkbox slot="start" 
    [(ngModel)]="data1.isChecked" 
    (ionChange)="checkEvent()"></ion-checkbox>
          </td>
          <td>{{data1.startTime.slice(0,18)}} {{data1.startTime.slice(-2)}}</td>
          <td>{{data1.endTime.slice(0,18)}} {{data1.endTime.slice(-2)}}</td>
         
          <td>{{data1.dpm_title}}</td>
          <td>{{data1.name}}</td>
          
    
          <td>{{data1.usertype_title}}</td>
          
        </ng-container>
        </tr>
      
       
        
        
      </tbody>
    </table>

  </div>


        </div>
   
        
 
      </div>
     
    
    
    
    </div>  
    </div>  
  
  
  </ion-content>



