<ion-header>
  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <navbar class="navbar navbar-expand-xl navbar-light bg-light">
          <a href="#" class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
              <a routerLink='/admin' class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link">Schedules</a>
              <div class="nav-item dropdown">
                <a href=" #" class="nav-link dropdown-toggle" data-toggle="dropdown">Departments</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">CITC</a>
                  <a href="#" class="dropdown-item">COT</a>
                  <a href="#" class="dropdown-item">CEA</a>
                  <a href="#" class="dropdown-item">CSM</a>
                  <a href="#" class="dropdown-item">CSTE</a>
                </div>
              </div>
              <a href="#" class="nav-item nav-link">Documents</a>
              <a routerLink='/manage-users' class="nav-item nav-link">Manage Users</a>
            </div>
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search">
                
              </div>
            </form>
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="./assets/images/cdustp.jpg" class="avatar" alt="Avatar"> Clint Cardenas</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                  <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                  <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                </div>
              </div>
            </div>
          </div>
        </navbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>
  <div class= "ion-padding">


    <div #viewer class="webviewer"></div>
  </div>


</ion-content>


