
<ion-header>
  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <navbar class="navbar navbar-expand-xl navbar-light bg-light">
          <a (click)="gotohome()" class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start" style="margin-left: 50px;">
            <div class="navbar-nav">
              <a (click)="gotohome()" class="nav-item nav-link active"><button>Home</button></a>
              <a (click)="gotoschedules()" class="nav-item nav-link"><button>Schedules</button></a>
             
              <a (click)="gotodocuments()" class="nav-item nav-link"><button>Documents</button></a>
              <a *ngIf="admin" routerLink='/admin/manage-users' class="nav-item nav-link">Manage Users</a>
              <a *ngIf="department" routerLink='/department/audit' class="nav-item nav-link">Audit</a>
              <a  *ngIf="auditor" routerLink='/auditor/audit' class="nav-item nav-link">Audit</a>
            </div>
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search">
                
              </div>
            </form>
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="nav-item dropdown">
                <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><img src="./assets/images/cdustp.jpg" class="avatar" alt="Avatar"> {{currentuser.name}}</button></a>
                
              </div>
            </div>
          </div>
        </navbar>
     
</ion-header>
<ion-content>
<!-- For demo purpose -->



<div class="row py-5 px-4">
  <div class="col-xl-10 col-md-6 col-sm-10 mx-auto">

      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 bg-dark">
              <div class="media align-items-end profile-header">
                  <div class="profile mr-3"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                  <div class="media-body mb-5 text-white">
                      <h4 class="mt-0 mb-0">{{currentuser.name}}</h4>
                      <p class="small mb-4"> <i class="fas fa-user-tag"></i> {{currentuser.usertype}}</p>
                  </div>
              </div>
          </div>

          <div class="bg-light p-4 d-flex justify-content-end text-center">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                      <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                  </li>
                  <li class="list-inline-item">
                      <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>
                  </li>
              </ul>
          </div>

          <div class="py-4 px-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
              </div>
              <div class="row">
                  <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                  <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/dose-juice-1184444-unsplash_bmbutn.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                  <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294926/cody-davis-253925-unsplash_hsetv7.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                  <div class="col-lg-6 pl-lg-1"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/tim-foster-734470-unsplash_xqde00.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
              </div>
              <div class="py-4">
                  <h5 class="mb-3">Recent posts</h5>
                  <div class="p-4 bg-light rounded shadow-sm">
                      <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <ul class="list-inline small text-muted mt-3 mb-0">
                          <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>
                          <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div><!-- End profile widget -->

  </div>
</div>
</ion-content>