

  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
          <a (click)="gotohome()" class="navbar-brand"><i class='fa fa-file'></i>USTED<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start" style="margin-left: 10px;">
            <div class="navbar-nav">
              <a *ngIf="currentuser.usertype_title != 'admin'" (click)="gotohome()" class="nav-item nav-link active"><button>Home</button></a>
              <a *ngIf="currentuser.usertype_title == 'admin'" (click)="gotohome()" class="nav-item nav-link active"><button>Audit Plan</button></a>
              <a *ngIf="currentuser.usertype_title != 'admin'" (click)="gotoschedules()" class="nav-item nav-link"><button>Schedules</button></a>
             
              <a (click)="gotodocuments()" class="nav-item nav-link"><button>Documents</button></a>
              <a *ngIf="admin" routerLink='/admin/manage-users' class="nav-item nav-link">Manage Users</a>
              <a *ngIf="department" routerLink='/department/audit' class="nav-item nav-link">Audit</a>
              <a  *ngIf="auditor" routerLink='/auditor/audit' class="nav-item nav-link">Audit</a>
            </div>
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search">
                
              </div>
            </form>
            <div class="navbar-nav ml-auto">
              <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="nav-item dropdown">
                <a (click)="acc_popover($event)"class="nav-link dropdown-toggle user-action"><button><img src="./assets/images/cdustp.jpg" class="avatar" alt="Avatar"> {{currentuser.name}}</button></a>
                
              </div>
            </div>
          </div>
        </nav>
     

<ion-content>
<!-- For demo purpose -->



<div class="row py-5 px-4">
  <div class="col-xl-10 col-md-6 col-sm-10 mx-auto">

      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 bg-dark">
              <div class="media align-items-end profile-header">
                  <div class="profile mr-3"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                  <div class="media-body mb-5 text-white">
                      <h4 class="mt-0 mb-0">{{currentuser.name}}</h4>
                      <p class="small mb-4"> <i class="fas fa-user-tag"></i> {{currentuser.usertype_title}}</p>
                  </div>
              </div>
          </div>

          

         
      </div><!-- End profile widget -->

  </div>
</div>
</ion-content>