.container-login100{
    background-image: url('/assets/images/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
